{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Створення посту</title>
    <link rel="stylesheet" href="{% static 'css/main/create_post.css' %}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Створення нового посту</h1>
            <div class="user-info">
                <p>Вітаємо, {{ user.username }}!</p>
                <form action="{% url 'index' %}" method="get">
                    {% csrf_token %}
                    <button type="submit">Вийти</button>
                </form>
            </div>
        </header>

        <section class="create-post">
            <h2>Заповніть форму для створення посту</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                <label for="title">Заголовок</label>
                <input type="text" name="title" required>
            
                <label for="content">Контент</label>
                <textarea name="content" required></textarea>
            
                <label for="image">Зображення (необов'язково)</label>
                <input type="file" name="image" accept="image/*">
            
                <label for="audio">Аудіо (необов'язково)</label>
                <input type="file" name="audio" accept="audio/*">  <!-- Нове поле -->
            
                <button type="submit">Створити пост</button>
            </form>            
        </section>
    </div>
</body>
</html>
