{% load static %}
{% load cache %} 
{% load tz %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="title" content="Ask online Form">
        <meta name="description" content="The Ask is a bootstrap design help desk, support forum website template coded and designed with bootstrap Design, Bootstrap, HTML5 and CSS. Ask ideal for wiki sites, knowledge base sites, support forum sites">
        <meta name="keywords" content="HTML, CSS, JavaScript,Bootstrap,js,Forum,webstagram ,webdesign ,website ,web ,webdesigner ,webdevelopment">
        <meta name="robots" content="index, nofollow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <title>Ask Me</title>
        <link href="{% static 'css/main/bootstrap.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main/animate.css' %}" rel="stylesheet" type="text/css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            .modal {
                display: none;
                position: fixed;
                z-index: 1000;
                left: 0; top: 0;
                width: 100%; height: 100%;
                background-color: rgba(0,0,0,0.5);
              }
              
              .modal-content {
                background-color: #fff;
                margin: 10% auto;
                padding: 20px;
                width: 40%;
                border-radius: 10px;
                position: relative;
              }
              
              .close {
                position: absolute;
                top: 10px; right: 15px;
                font-size: 24px;
                cursor: pointer;
            }
        </style>
    </head>

    <body>
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="navbar-menu-left-side239">
                            <ul>
                                <li><a href="#"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contact</a></li>
                                <li><a href="#"><i class="fa fa-headphones" aria-hidden="true"></i>Support</a></li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-user" aria-hidden="true"></i>Logout</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="navbar-serch-right-side">
                            <form method="get" class="navbar-form" role="search" action="{% url 'search_results' %}">
                                <div class="input-group add-on">
                                    <input class="form-control  form-control222" name="query" placeholder="Search" id="srch-term" type="text"  value="{{ request.GET.query }}">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-default2913" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="top-menu-bottom932">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                        <a class="navbar-brand" href="#"><img src="#" alt="Logo"></a>
                    </div>
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav"> </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li><a href="{% url 'index'%}">Home</a></li>
                            <li><a href="{% url 'create_post'%}">Ask Question</a></li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Blog <span class="caret"></span></a>
                                <ul class="dropdown-menu animated zoomIn">
                                    <li><a href="blog.html">Blog </a></li>
                                </ul>
                            </li>
                            <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Page <span class="caret"></span></a>
                                <ul class="dropdown-menu animated zoomIn">
                                    <li><a href="contact_us.html"> Contact Us</a></li>
                                    <li><a href="ask_question.html"> Ask Question </a></li>
                                    <li><a href="post-deatils.html"> Post-Details </a></li>
                                    <li><a href="user.html">All User</a></li>
                                    <li><a href="user_question.html"> User Question </a></li>
                                    <li><a href="category.html"> Category </a></li>
                                </ul>
                            </li>
                            <li><a href="contact_us.html">Contact us</a></li>
                        </ul>
                    </div>

                </div>
            </nav>
        </div>
        
        <section class="welcome-part-one">
            <div class="container">
                <div class="welcome-demop102 text-center">
                    <h2>Welcome to Ask me, Awesome Questions & Answer</h2>
                    <p>Duis dapibus aliquam mi, eget euismod sem scelerisque ut. Vivamus at elit quis urna adipiscing iaculis. Curabitur vitae velit in neque dictum blandit. Proin in iaculis neque. Pellentesque
                        <br> habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Curabitur vitae velit in neque dictum blandit</p>
                    <div class="form-style8292">
                        <form method="get" action="{% url 'search_results' %}"> 
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <i class="fa fa-pencil-square" aria-hidden="true"></i>
                                </span>
                                <input type="text" name="query" class="form-control form-control8392" placeholder="Ask any question and you be sure find your answer ?" value="{{ request.GET.query }}">
                                <span class="input-group-addon">
                                    <button type="submit" style="background: none; border: none; padding: 0; color: #fff; font-size: 15px; text-decoration: none; font-weight: bold;">Ask Now</button>
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="main-content920">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        <div id="main">
                            <input id="tab1" type="radio" name="filter" value="recent_post" checked>
                            <label for="tab1">Recent Post</label>
                            <input id="tab2" type="radio" name="filter" value="most_response">
                            <label for="tab2">Most Response</label>
                            <input id="tab3" type="radio" name="filter" value="no_response">
                            <label for="tab3">No Response</label>
                            <input id="tab4" type="radio" name="filter" value="popular_post">
                            <label for="tab4">Popular Post</label>
                            
                        {% cache 300 posts_fragment request.GET.page request.GET.filter %}
                            <section id="content1">
                                {% for post in recent_posts %}
                                    <div class="question-type2033">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="left-user12923 left-user12923-repeat">
                                                    {% if post.author.socialaccount_set.exists %}
                                                        {% with post.author.socialaccount_set.first as social_account %}
                                                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar">
                                                        {% endwith %}
                                                    {% elif post.author.userprofile.avatar %}
                                                        <img src="{{ post.author.userprofile.avatar.url }}" alt="Avatar">
                                                    {% else %}
                                                        <img src="{{ DEFAULT_AVATAR_URL }}" alt="Default avatar">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="right-description893">
                                                    <div id="que-hedder2983">
                                                        <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                                                    </div>
                                                    <div class="ques-details10018">
                                                        <p>{{ post.content|safe }}</p>
                                                        {% if post.image %}
                                                            <div class="post-image">
                                                                <img src="{{ post.image.url }}" alt="Post image" style="max-width: 50%; height: auto;">
                                                            </div>
                                                        {% endif %}
                                                        {% if post.audio %}
                                                            <div class="post-audio">
                                                                <audio controls>
                                                                    <source src="{{ post.audio.url }}" type="audio/mpeg">
                                                                    Ваш браузер не підтримує відтворення аудіо.
                                                                </audio>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="ques-icon-info3293"> 
                                                        <a href="{% url 'posts_by_category' post.category.slug %}"><i class="fa fa-hashtag" style="color: black;" aria-hidden="true"> {{ post.category.name }} </i></a> 
                                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{ post.created_at|timesince }} ago</i></a> 
                                                        <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a>
                                                        <a href="#" onclick="openReportModal('{{ post.slug }}')"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                                    </div>
                                                    <div id="reportModal-{{ post.slug }}" class="modal" style="display:none;">
                                                        <div class="modal-content">
                                                            <span class="close" onclick="closeReportModal('{{ post.slug }}')">&times;</span>
                                                            <form method="POST" action="{% url 'report_post' post.slug %}">
                                                                {% csrf_token %}
                                                                
                                                                <label for="reason">Причина скарги:</label>
                                                                <select id="reason-select" name="reason" required onchange="toggleOtherReasonField()">
                                                                    <option value="">Оберіть причину</option>
                                                                    <option value="Inappropriate Content">Неправильний контент</option>
                                                                    <option value="Spam">Спам</option>
                                                                    <option value="Offensive Language">Образлива мова</option>
                                                                    <option value="Other">Інше</option>
                                                                </select>
                                                    
                                                                <!-- Поле для вводу причини, яке показується тільки при виборі "Інше" -->
                                                                <div id="other-reason-field" style="display: none;">
                                                                    <label for="other-reason">Вкажіть причину:</label>
                                                                    <textarea name="other_reason" rows="4" style="width: 100%;"></textarea>
                                                                </div>
                                                    
                                                                <button type="submit" style="margin-top: 10px;">Надіслати скаргу</button>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ques-type302">
                                                    <a>
                                                        <button type="button" class="q-type238">
                                                            <i class="fa fa-comment" aria-hidden="true">
                                                                <span id="comments-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                    
                                                    <a>
                                                        <button type="button" class="q-type23 button-ques2973">
                                                            <i class="fa fa-user-circle-o" aria-hidden="true">
                                                                <span id="views-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Немає постів.</p>
                                {% endfor %}
                            
                                {% if recent_posts.paginator.num_pages > 1 %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if recent_posts.has_previous %}
                                                <li><a href="?filter=recent_post&page={{ recent_posts.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}

                                            {% for num in recent_posts.paginator.page_range %}
                                                {% if recent_posts.number == num %}
                                                    <li class="active"><span>{{ num }}</span></li>
                                                {% else %}
                                                    <li><a href="?filter=recent_post&page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if recent_posts.has_next %}
                                                <li><a href="?filter=recent_post&page={{ recent_posts.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </section>
                            <section id="content2" style="display: none;">
                                {% for post in most_response_posts %}
                                    <div class="question-type2033">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="left-user12923 left-user12923-repeat">
                                                    {% if post.author.socialaccount_set.exists %}
                                                        {% with post.author.socialaccount_set.first as social_account %}
                                                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar">
                                                        {% endwith %}
                                                    {% elif post.author.userprofile.avatar %}
                                                        <img src="{{ post.author.userprofile.avatar.url }}" alt="Avatar">
                                                    {% else %}
                                                        <img src="{{ DEFAULT_AVATAR_URL }}" alt="Default avatar">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="right-description893">
                                                    <div id="que-hedder2983">
                                                        <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                                                    </div>
                                                    <div class="ques-details10018">
                                                        <p>{{ post.content|safe }}</p>
                                                        {% if post.image %}
                                                            <div class="post-image">
                                                                <img src="{{ post.image.url }}" alt="Post image" style="max-width: 50%; height: auto;">
                                                            </div>
                                                        {% endif %}
                                                        {% if post.audio %}
                                                            <div class="post-audio">
                                                                <audio controls>
                                                                    <source src="{{ post.audio.url }}" type="audio/mpeg">
                                                                    Ваш браузер не підтримує відтворення аудіо.
                                                                </audio>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="ques-icon-info3293"> 
                                                        <a href="{% url 'posts_by_category' post.category.slug %}"><i class="fa fa-hashtag" style="color: black;" aria-hidden="true"> {{ post.category.name }} </i></a>                                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{ post.created_at|timesince }} ago</i></a> 
                                                        <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a>
                                                        <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ques-type302">
                                                    <a>
                                                        <button type="button" class="q-type238">
                                                            <i class="fa fa-comment" aria-hidden="true">
                                                                <span id="comments-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                    <a>
                                                        <button type="button" class="q-type23 button-ques2973">
                                                            <i class="fa fa-user-circle-o" aria-hidden="true">
                                                                <span id="views-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Немає постів.</p>
                                {% endfor %}
                            
                                {% if most_response_posts.paginator.num_pages > 1 %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if most_response_posts.has_previous %}
                                                <li><a href="?filter=most_response&page={{ most_response_posts.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}

                                            {% for num in most_response_posts.paginator.page_range %}
                                                {% if most_response_posts.number == num %}
                                                    <li class="active"><span>{{ num }}</span></li>
                                                {% else %}
                                                    <li><a href="?filter=most_response&page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if most_response_posts.has_next %}
                                                <li><a href="?filter=most_response&page={{ most_response_posts.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </section>
                            <section id="content3" style="display: none;">
                                {% for post in no_response_posts %}
                                    <div class="question-type2033">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="left-user12923 left-user12923-repeat">
                                                    {% if post.author.socialaccount_set.exists %}
                                                        {% with post.author.socialaccount_set.first as social_account %}
                                                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar">
                                                        {% endwith %}
                                                    {% elif post.author.userprofile.avatar %}
                                                        <img src="{{ post.author.userprofile.avatar.url }}" alt="Avatar">
                                                    {% else %}
                                                        <img src="{{ DEFAULT_AVATAR_URL }}" alt="Default avatar">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="right-description893">
                                                    <div id="que-hedder2983">
                                                        <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                                                    </div>
                                                    <div class="ques-details10018">
                                                        <p>{{ post.content|safe }}</p>
                                                        {% if post.image %}
                                                            <div class="post-image">
                                                                <img src="{{ post.image.url }}" alt="Post image" style="max-width: 50%; height: auto;">
                                                            </div>
                                                        {% endif %}
                                                        {% if post.audio %}
                                                            <div class="post-audio">
                                                                <audio controls>
                                                                    <source src="{{ post.audio.url }}" type="audio/mpeg">
                                                                    Ваш браузер не підтримує відтворення аудіо.
                                                                </audio>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="ques-icon-info3293"> 
                                                        <a href="{% url 'posts_by_category' post.category.slug %}"><i class="fa fa-hashtag" style="color: black;" aria-hidden="true"> {{ post.category.name }} </i></a>                                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{ post.created_at|timesince }} ago</i></a> 
                                                        <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a>
                                                        <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ques-type302">
                                                    <a>
                                                        <button type="button" class="q-type238">
                                                            <i class="fa fa-comment" aria-hidden="true">
                                                                <span id="comments-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                    
                                                    <a>
                                                        <button type="button" class="q-type23 button-ques2973">
                                                            <i class="fa fa-user-circle-o" aria-hidden="true">
                                                                <span id="views-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Немає постів.</p>
                                {% endfor %}
                            
                                {% if no_response_posts.paginator.num_pages > 1 %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if no_response_posts.has_previous %}
                                                <li><a href="?filter=no_response&page={{ no_response_posts.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}

                                            {% for num in no_response_posts.paginator.page_range %}
                                                {% if no_response_posts.number == num %}
                                                    <li class="active"><span>{{ num }}</span></li>
                                                {% else %}
                                                    <li><a href="?filter=no_response&page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if no_response_posts.has_next %}
                                                <li><a href="?filter=no_response&page={{ no_response_posts.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </section>
                            <section id="content4" style="display: none;">
                                {% for post in popular_posts %}
                                    <div class="question-type2033">
                                        <div class="row">
                                            <div class="col-md-1">
                                                <div class="left-user12923 left-user12923-repeat">
                                                    {% if post.author.socialaccount_set.exists %}
                                                        {% with post.author.socialaccount_set.first as social_account %}
                                                            <img src="{{ social_account.get_avatar_url }}" alt="Avatar">
                                                        {% endwith %}
                                                    {% elif post.author.userprofile.avatar %}
                                                        <img src="{{ post.author.userprofile.avatar.url }}" alt="Avatar">
                                                    {% else %}
                                                        <img src="{{ DEFAULT_AVATAR_URL }}" alt="Default avatar">
                                                    {% endif %}
                                                </div>
                                            </div>
                                            <div class="col-md-9">
                                                <div class="right-description893">
                                                    <div id="que-hedder2983">
                                                        <h3><a href="{% url 'post_detail' post.slug %}">{{ post.title }}</a></h3>
                                                    </div>
                                                    <div class="ques-details10018">
                                                        <p>{{ post.content|safe }}</p>
                                                        {% if post.image %}
                                                            <div class="post-image">
                                                                <img src="{{ post.image.url }}" alt="Post image" style="max-width: 50%; height: auto;">
                                                            </div>
                                                        {% endif %}
                                                        {% if post.audio %}
                                                            <div class="post-audio">
                                                                <audio controls>
                                                                    <source src="{{ post.audio.url }}" type="audio/mpeg">
                                                                    Ваш браузер не підтримує відтворення аудіо.
                                                                </audio>
                                                            </div>
                                                        {% endif %}
                                                    </div>
                                                    <hr>
                                                    <div class="ques-icon-info3293"> 
                                                        <a href="{% url 'posts_by_category' post.category.slug %}"><i class="fa fa-hashtag" style="color: black;" aria-hidden="true"> {{ post.category.name }} </i></a>                                                        <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{ post.created_at|timesince }} ago</i></a> 
                                                        <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> Question</i></a>
                                                        <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-2">
                                                <div class="ques-type302">
                                                    <a>
                                                        <button type="button" class="q-type238">
                                                            <i class="fa fa-comment" aria-hidden="true">
                                                                <span id="comments-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                    
                                                    <a>
                                                        <button type="button" class="q-type23 button-ques2973">
                                                            <i class="fa fa-user-circle-o" aria-hidden="true">
                                                                <span id="views-{{ post.id }}">...</span>
                                                            </i>
                                                        </button>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% empty %}
                                    <p>Немає постів.</p>
                                {% endfor %}
                            
                                {% if popular_posts.paginator.num_pages > 1 %}
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination">
                                            {% if popular_posts.has_previous %}
                                                <li><a href="?filter=popular&page={{ popular_posts.previous_page_number }}">&laquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&laquo;</span></li>
                                            {% endif %}

                                            {% for num in popular_posts.paginator.page_range %}
                                                {% if popular_posts.number == num %}
                                                    <li class="active"><span>{{ num }}</span></li>
                                                {% else %}
                                                    <li><a href="?filter=popular&page={{ num }}">{{ num }}</a></li>
                                                {% endif %}
                                            {% endfor %}

                                            {% if popular_posts.has_next %}
                                                <li><a href="?filter=popular&page={{ popular_posts.next_page_number }}">&raquo;</a></li>
                                            {% else %}
                                                <li class="disabled"><span>&raquo;</span></li>
                                            {% endif %}
                                        </ul>
                                    </nav>
                                {% endif %}
                            </section>
                        {% endcache %}
                        </div>
                    </div>
                    <aside class="col-md-3 sidebar97239">
                        <div class="status-part3821">
                            <h4>stats</h4> <a><i class="fa fa-question-circle" aria-hidden="true"> Question({{ post_count }})</i></a> <i class="fa fa-comment" aria-hidden="true"> Answers({{ comment_count }})</i> 
                        </div>
                        <div class="categori-part329">
                            <h4>Category</h4>
                            <ul id="categories_recent">
                                {% for category in categories_for_recent %}
                                    <li><a href="{% url 'posts_by_category' category.slug %}">#{{ category.name }}</a></li>
                                {% empty %}
                                    <li>No categories found</li>
                                {% endfor %}
                            </ul>
                            <ul id="categories_most_response" style="display:none;">
                                {% for category in categories_for_most_response %}
                                    <li><a href="{% url 'posts_by_category' category.slug %}">#{{ category.name }}</a></li>
                                {% empty %}
                                    <li>No categories found</li>
                                {% endfor %}
                            </ul>
                            <ul id="categories_no_response" style="display:none;">
                                {% for category in categories_for_no_response %}
                                    <li><a href="{% url 'posts_by_category' category.slug %}">#{{ category.name }}</a></li>
                                {% empty %}
                                    <li>No categories found</li>
                                {% endfor %}
                            </ul>
                            <ul id="categories_popular" style="display:none;">
                                {% for category in categories_for_popular %}
                                    <li><a href="{% url 'posts_by_category' category.slug %}">#{{ category.name }}</a></li>
                                {% empty %}
                                    <li>No categories found</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="recent-post3290">
                            <h4>Recent Posts</h4>
                            {% if random_posts %}
                                {% for post in random_posts %}
                                    <div class="post-details021">
                                        <a href="{% url 'post_detail' post.slug %}">
                                            <h5>{{ post.title }}</h5>
                                        </a>
                                        <p>{{ post.content|truncatewords:12|safe }}</p>
                                        <small style="color: #848991">{{ post.created_at|date:"F d, Y" }}</small>
                                        <hr>
                                    </div>
                                {% endfor %}
                            {% else %}
                                <p>No recent posts.</p>
                            {% endif %}
                        </div>                        
                    </aside>
                </div>
            </div>
        </section>
        <section class="footer-social">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <p>Copyright 2025 Ask me | <strong>Team Atlantida</strong></p>
                    </div>
                </div>
            </div>
        </section>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/postCounterAndFilter.js' %}"></script>  
        <script>
            function openReportModal(slug) {
                document.getElementById("reportModal-" + slug).style.display = "block";
            }
            
            function closeReportModal(slug) {
                document.getElementById("reportModal-" + slug).style.display = "none";
            }
            
            window.onclick = function(event) {
                document.querySelectorAll(".modal").forEach(modal => {
                    if (event.target === modal) {
                        modal.style.display = "none";
                    }
                });
            }

            function toggleOtherReasonField() {
                var reasonSelect = document.getElementById("reason-select");
                var otherReasonField = document.getElementById("other-reason-field");
        
                if (reasonSelect.value === "Other") {
                    otherReasonField.style.display = "block";
                } else {
                    otherReasonField.style.display = "none";
                }
            }
        </script>         
    </body>
</html>