{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вхід на форум</title>
    <link rel="stylesheet" href="{% static "css/form/loginForm.css" %}">
</head>
<body>
    <div class="container">
        <h1>Увійти на форум</h1>
        
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}  <!-- Вивести форму -->
            <button type="submit">Увійти</button>
        </form>

        {% if error %}
            <p style="color: red;">{{ error }}</p>
        {% endif %}

        <p>Ще не маєте акаунту? <a href="">Зареєструватися</a></p>
    </div>
</body>
</html>